.Navbar {
  background-image: radial-gradient(
    at right bottom,
    #011f26,
    #025159,
    #569ea6,
    #027373,
    #012840
  );
  color: #fff;
  height: 6rem;
  padding: 1rem;
  &_Nav {
    gap: 2rem;
    display: grid;
    grid-template-columns: max-content 1fr;

    @media only screen and (max-width: 56.25em) {
      & {
        margin-top: 6rem;
        gap: 5rem;
        grid-template-columns: none;
        justify-content: center;
        align-content: start;
      }
    }
  }
  @media only screen and (max-width: 56.25em) {
    &_SideDrawerHide {
      display: none;
    }
  }

  &_Brand {
    display: grid;
    text-decoration: none;
    cursor: pointer;
    grid-template-columns: max-content 1fr;
    gap: 2rem;
    color: #fff;
    justify-items: center;
    align-items: center;
    &:hover {
      text-shadow: 1px 1px 2px #fff;
    }

    &__SVG {
      width: 3rem;
      height: 3rem;
      fill: #0aa0ff;
    }
  }
  &_Links {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.7rem;

    @media only screen and (max-width: 56.25em) {
      & {
        font-size: 1.8rem;
        grid-template-columns: none;
        justify-content: start;
        gap: 5rem;
        align-content: start;
      }
    }
    &__Link {
      text-decoration: none;
      color: #fff;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-items: center;
      transition: all 0.1s ease 10ms;
      &:hover {
        text-shadow: 1px 1px 2px #fff;
        transform: translateY(-0.1rem);
      }
      &:active {
        transform: translateY(0.1rem);
      }

      &_SVG {
        margin-right: 0.5rem;
        height: 1.6rem;
        width: 1.6rem;
        fill: #fff;
      }

      &_Active {
        font-weight: 600;
        text-shadow: 1px 1px 2px #fff;
      }
    }
  }
}
