@mixin statusHeading {
  align-self: start;
  border-radius: 1rem 1rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  color: #fff;
}

.ProjectBoard {
  min-height: 100vh;
  display: grid;
  align-content: start;
  justify-items: center;

  &_StatusContainer {
    margin: 5rem 0rem;
    padding: 2rem;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;

    @media only screen and (max-width: 50em) {
      & {
        grid-template-columns: 1fr;
        width: 80%;
      }
    }
  }
  &_Status {
    border-radius: 1rem;
    gap: 1rem;
    display: grid;
    align-content: start;
    box-shadow: 0rem 0rem 1rem rgba($color: #000000, $alpha: 0.6);
    &__ToDo {
      @include statusHeading();
      background-color: #5f5f5f;
    }
    &__InProgress {
      @include statusHeading();
      background-color: #025159;
    }
    &__Done {
      @include statusHeading();
      background-color: #008000;
    }
  }

  &_Button {
    justify-self: start;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
  }
}
