.Landing {
  min-height: 100vh;
  display: grid;
  gap: 5rem;
  color: #fff;
  justify-items: center;
  align-content: start;
  opacity: 0.8;
  background-image: linear-gradient(
    to right bottom,
    #011f26,
    #025159,
    #569ea6,
    #027373,
    #012840
  );
  &_LinkContainer {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 3rem;
  }

  &_Header {
    gap: 2rem;
    display: grid;
  }

  &_Canvas {
    position: relative;
  }

  &_Content {
    display: grid;
    gap: 2rem;
    left: 18%;
    top: 20%;
    justify-items: center;
    position: absolute;
  }
}
